fffff{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block page_header %}
{% endblock %}

{% block body_block %}

    <form id="search_form" role="form" method="get" action=".">

        <div class="input-group">
            <input type="text" id="query" name="q" class="form-control"
                   placeholder="请输入职位名称或公司名称" value="{{ query }}" autocomplete="on"
                   maxlength="64" tabindex="1" width="570px"/>

            <span class="input-group-btn">
                <input type="submit" id="search_button" class="btn btn-default" value="搜索"/>
            </span>
        </div>

        {#        <ul class="nav nav-tabs">#}
        {#          <li role="presentation" class="active"><a href="#">热门职位</a></li>#}
        {#          <li role="presentation"><a href="#">最新职位</a></li>#}
        {#        </ul>#}
        <br/>

    </form>

    <div id="search_result">

        {% if query %}
        {% if pos_list %}
        <nav>
            <ul class="pagination">
                <li class="{% if page <= 1 %}disabled{% endif %}">
                    <a href="/search/?q={{ query }}&pn={{ prev }}&pl={{ plen }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in pages %}
                    <li class="{% if p == page %}active{% endif %}">
                        <a href="/search/?q={{ query }}&pn={{ p }}&pl={{ plen }}">{{ p }}</a> </li>
                {% endfor %}
                <li class="{% if page >= total_pages %}disabled{% endif %}">
                    <a href="/search/?q={{ query }}&pn={{ next }}&pl={{ plen }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <span>{{ page }} / {{ total_pages }}</span>
                </li>
            </ul>
        </nav>

        <div class="list-group">

            {% for p in pos_list %}
            <a href="http://www.lagou.com/jobs/{{ p.id }}.html?source=search" class="list-group-item">
                <h4 class="list-group-item-heading">{{ p.name }} ({{ p.salary }})</h4>
                <p class="list-group-item-text">{{ p.com_name }}</p>
                <p class="list-group-item-text">{{ p.advantage }}</p>
            </a>
            {% endfor %}
        </div>

        <nav>
            <ul class="pagination">
                <li class="{% if page <= 1 %}disabled{% endif %}">
                    <a href="/search/?q={{ query }}&pn={{ prev }}&pl={{ plen }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in pages %}
                    <li class="{% if p == page %}active{% endif %}">
                        <a href="/search/?q={{ query }}&pn={{ p }}&pl={{ plen }}">{{ p }}</a> </li>
                {% endfor %}
                <li class="{% if page >= total_pages %}disabled{% endif %}">
                    <a href="/search/?q={{ query }}&pn={{ next }}&pl={{ plen }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <span>{{ page }} / {{ total_pages }}</span>
                </li>
            </ul>
        </nav>
        {% else %}
            <div>暂时没有符合该搜索条件的职位</div>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}
